/*
Theme Name:     SKRN Progression Child
Description:    Child Theme for SKRN Progression
Author:         Progression Studios
Template:       skrn-progression

*/

.arm_module_box .arm_column_4 li.arm_setup_column_item {
	margin: 8px !important;
}

#embedded-video-audio-detail-header-pro {
	height: 700px !important;
}

div#progression-studios-sidebar-col-main.add-video-page {
	margin-left: 200px !important;
}

.page-id-669 {
	overflow-x: hidden; 
}

/*.input-center {
	text-align: center;
}*/

.section-row {
	margin-bottom: 150px;
}

.add-video-buton {
	border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    width: auto;
    max-width: 100%;
    width: 350px;
    min-height: 35px;
    min-height: 45px;
    padding: 0 10px;
    font-family: Helvetica, sans-serif, 'Trebuchet MS';
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    background-color: transparent;
    border: 2px solid #23b7e5;
    color: #23b7e5;
    margin-top: 50px;
    margin-bottom: 50px;
}

.add-video-buton:hover {
	background-color: #25c0f0 !important;
    border: 2px solid #25c0f0 !important;
    color: #ffffff !important;
}

.add-video-buton:focus {
	outline: none;
}

.text-input-add-video, .text-input-equipment {
	width: 70%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom: 1px solid #c7c7c7;
}

.select-input {
	height: 35px;
}

.title-label {
	font-size: 20px;
	margin-top: 50px;
	font-family: Helvetica, sans-serif, 'Trebuchet MS';
	width: 430px;
	color: #919191;
}

.upload-button {
	margin-top: 50px;
    width: 170px;
    height: 40px;
}

.video-genuri {
    width: 40%;
    text-align: left;
}

.video-tipuri {
	width: 40%;
    text-align: left;
}

.video-tipuri input, .video-genuri input {
    display: none;
}

.text-input-add-video:focus, .text-input-equipment:focus {
	outline: none;
}

.input-center #thumbnail-preview, .input-center  #poster-preview, .input-center  #video-preview, .input-center  #trailer-preview {
	width: 50px !important;
	height: 50px;
	margin-left: 20px;
    margin-right: 20px;
}

#add_video_form {
    width: 1000px;
    margin: auto;
    margin-top: -100px;
}

.thumbnail-preview-wrapper, .poster-preview-wrapper, .video-preview-wrapper, .trailer-preview-wrapper {
	display: inline-block;
}

#video-preview, #trailer-preview {
	border: 1px solid #c0c0c0;
    position: relative;
    top: 20px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 50%;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 8px;
    height: 8px;
    background: #63b7e5;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 50%;
}
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
[type="checkbox"]:disabled:checked + label:after
{
    background: #aaa;
}

.progression-skrn-slider-elements-display-table {
	height: 600px;
}


/* ------------- EDITEAZA INSTRUCTOR PAGE ------------- */

.editeaza-instructor-button {
    padding: 20px 40px;
    margin: 35px;
    border: 1px solid #e2e2e2;
}

.editeaza-instructor-button:hover {
    background-color: #e2e2e2;
    color: #000;
    text-decoration: none;
}

.edit-video-breadchrumb {
    padding: 10px 30px;
    border: 1px solid #e2e2e2;
}

.edit-video-breadchrumb:hover {
    background-color: #e2e2e2;
    color: #000;
    text-decoration: none;
}

.title-button h3 {
    padding: 20px 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    min-height: 100px;
}

.title-button {
    margin-bottom: 20px;
}

.edit-instrutor-img {
    height: 55%;
    text-align: center;
}

.edit-video-row {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 50px;
}

.video-cols {
    margin-bottom: 100px;
}

.page-id-738 form {
    margin-top: 0px !important;
}

.progression-studios-isotope-animation {
    opacity: 1 !important;
}

.page-id-742 {
    overflow-x: hidden;
}

.page-id-742 #progression-studios-sidebar-col-main .dashboard-container-pro {
    margin-left: 50px !important;
}

.descriere-video {
    margin-left: 35px;
    margin-right: 35px;
}

.menu-pro.sub-menu {
    background: #fff !important;
    border: 1px solid #e7e7e7;
}

.menu-pro.sub-menu .progression-studios-menu-title {
    color: #848484;
}

.biografie-page-last-added-video {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 40px;
}

.descriere-instructor-text {
    text-align: justify;
}

.descriere-instructor-title {
    text-align: center;
}

.instructor-livestream {
    margin-top: -50px !important;
}

ul.dashboard-sub-menu li a:hover, ul.dashboard-sub-menu li.current a {
    text-decoration: none;
}

[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: relative;
    left: 0px !important; 
    margin-right: 5px;
    top: 1px;
}

#main-container-pro {
    width: 100% !important;
    float: none;
}

.live-stream-wrapper {
    left: unset !important;
    z-index: unset !important;
    position: unset !important;
    top: unset !important;
    left: unset !important;
    width: unset !important;
    height: unset !important;
}
#non-pointer {
   text-align: unset !important;
   top: unset !important;
   margin: unset !important;
}
#non-pointer iframe {
   top: unset !important;
   bottom: unset !important;
}
.live-stream-cl-page-wrapper {
   position: relative;
   top: 150px;
}

#delete_channel_btn {
    border: 2px solid #dc3545;
    color: #dc3545;
}

.add-video-buton.delete_btn:hover {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important; 
}

button:focus {
    outline: 0px !important;
}

.buy-now-btn {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 10px 20px;
    border: 5px solid #fff;
    margin: auto;
    font-weight: bold;
    background-color: #0000008c;
    position: relative;
    top: 300px;
}

.buy-now-btn:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

.btn-wrapper {
    text-align: center;
}

.view-preview-btn {
    color: #fff;
    font-size: 30px;
    border: 3px solid #fff;
    width: 350px !important;
    text-align: center;
    height: 60px !important;
    margin: auto;
    display: block !important;
    position: relative !important;
    background-color: #000000b0;
    border-radius: 30px;
    margin-top: 200px;
}

.view-preview-btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
}

.buy_plan {
    display: inline-block;
}

.buy-plans-wrapper {
    text-align: center;
}



.cumpara-plan {
    text-align: center;
    top: 350px;
}

.buy-plans-wrapper {
    text-align: center;
    height: 50px;
    margin-top: 30px;
}

.buy_plan button {
    width: 280px;
    border: 3px solid #fff;
    background-color: #000000b8;
    border-radius: 30px;
    height: 50px;
}

.buy_plan button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    border-radius: 30px;
    transition: .4s;
}


.buy_plan button:focus {
        border: 3px solid #fff;
    background-color: #000000b8;
    border-radius: 30px;
}

.bottom-buy-plan-btn button:hover {
    border-radius: 30px;
    height: 50px;
    border: 3px solid #000;
}

.live-button {
    background-color: red;
    padding: 5px 20px;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    vertical-align: 10%;
    position: relative;
    top: 40px;
}

.btn_live:hover {
    text-decoration: none;
}

.blink {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

.live-button.video-skrn-live {
    top: 15px !important;
}

.genre-child-div {
    padding-left: 15px;
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.title-button a:hover {
    text-decoration: none;
}

.comment-form .rating-container > input + label {
    overflow: unset !important;
    text-indent: unset !important;
    width: 50px !important;
    display: inline-flex !important;
}

/* MOBILE RESPONSIVE */


@media screen and (max-width: 768px) {
    
    /* STREAMING CLIENT PAGE */

    #non-pointer {
        width: 100% !important;
        height: auto !important;
    }

    #non-pointer iframe {
        position: relative !important;
        width: 100% !important;
    }

    .live-stream-wrapper {
        width: 100% !important;
    }

/* EDITARE NIOGRAFIE PAGE */

    #add_video_form {
        width: 100% !important;
    }


    div#progression-studios-sidebar-col-main.add-video-page {
        margin-left: 20px !important;
    }

    .title-label {
        width: 100% !important;
    }

    .add-video-buton {
        width: 100% !important;
    }

}